@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/img.jpeg");
    height: 80vh;
    position: relative;
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    background-size: max(1000px 100vm);
}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.64;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    display: flex;
    align-items: center;
    max-width: 60vw;
    margin: auto;
    padding: 12px;
    justify-content: space-between;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;

    height: calc(100% - 58.8px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    color: white;
    gap: 25px;
    padding: 0 30px;
}

.hero> :first-child {
    font-weight: 900;
    font-size: 56px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 900;
    font-size: 56px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 550;
    font-size: 22px;
    text-align: center;
}

.hero :nth-child(4) {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.separation {
    height: 5px;
    background-color: rgb(55, 55, 55);
}

.btn {
    padding: 3px 8px;
    background-color: rgba(255, 255, 255, 0.121);
    color: white;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
    font-weight: 300;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 11px 24px;
    border-radius: 2px;
    font-size: 20px;
    border-width: 0;
    font-weight: 100;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.btn-red-sm {
    background-color: red;
    color: white;

}

.main input {
    padding: 14px 70px;
    padding-left: 13px;
    padding-right: 120px;
    border-radius: 3px;
    font-size: 12px;
    background-color: rgba(11, 10, 10, 0.7);
    font-weight: bolder;
    border: 1px solid rgba(126, 122, 122, 0.5);


}

.first {
    display: flex;
    justify-content: center;
    max-width: 80vw;
    margin: auto;
    color: white;
    align-items: center;
    justify-content: center;
}

.secImg {
    position: relative;

}

.secImg img {
    padding-top: 10px;
    width: 41.2vw;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 81.5px;
    right: 74.2px;
    width: 30vw;
}
section.first>div{
    display: flex;
    flex-direction: column;
}

section.first > div :nth-child(1){
    font-size: 40px;
    font-weight: bolder;
}

section.first > div :nth-child(2)
{
    font-size: 15px;
}